<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The Flutter profile build is a superset of the debug build, so it
         should include all permissions and features of the debug build. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest>